In [2]:
import os
import json
import pandas as pd
import numpy as np

from datasets import load_dataset

import matplotlib.pyplot as plt
import seaborn as sns

from tqdm import tqdm

In [3]:
# # MMMU
# mmmu = load_dataset("lmms-lab/MMMU")
# mmmu

# only load validation set (test has no answer labels)
mmmu_val = load_dataset("lmms-lab/MMMU", split="validation")
mmmu_val

Dataset({
    features: ['id', 'question', 'options', 'explanation', 'image_1', 'image_2', 'image_3', 'image_4', 'image_5', 'image_6', 'image_7', 'img_type', 'answer', 'topic_difficulty', 'question_type', 'subfield'],
    num_rows: 900
})

In [4]:
# df = mmmu["validation"].to_pandas()
# df = mmmu["test"].to_pandas()
df = mmmu_val.to_pandas()
df.head()

,id,question,options,explanation,image_1,image_2,image_3,image_4,image_5,image_6,image_7,img_type,answer,topic_difficulty,question_type,subfield
0,validation_Accounting_1,<image 1> Baxter Company has a relevant range ...,"['$6', '$7', '$8', '$9']",,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...,None,None,None,None,None,None,['Tables'],B,Medium,multiple-choice,Managerial Accounting
1,validation_Accounting_2,"Assume accounts have normal balances, solve fo...","['$194,815', '$182,815', '$12,000', '$9,000']",,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...,None,None,None,None,None,None,['Tables'],C,Medium,multiple-choice,Financial Accounting
2,validation_Accounting_3,"Maxwell Software, Inc., has the following mutu...","['Project A', 'Project B']",Discount each project's cash flows at 15 perce...,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...,None,None,None,None,None,None,['Tables'],B,Medium,multiple-choice,Financial Accounting
3,validation_Accounting_4,Each situation below relates to an independent...,"['$1,620', '$12,000', '$51,180', '$0']",,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...,None,None,None,None,None,None,['Tables'],D,Easy,multiple-choice,Financial Accounting
4,validation_Accounting_5,The following data show the units in beginning...,"['132,625', '134,485', '135,332', '132,685']",,{'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...,None,None,None,None,None,None,['Tables'],B,Medium,multiple-choice,Managerial Accounting

In [5]:
df.keys()

Index(['id', 'question', 'options', 'explanation', 'image_1', 'image_2',
       'image_3', 'image_4', 'image_5', 'image_6', 'image_7', 'img_type',
       'answer', 'topic_difficulty', 'question_type', 'subfield'],
      dtype='object')

In [6]:
df.question_type.value_counts()

question_type
multiple-choice    847
open                53
Name: count, dtype: int64

In [7]:
df.subfield.value_counts()

subfield
Music                             30
Market Research                   30
Sociology Theory                  30
Plant Pathology                   28
Epidemiology                      26
                                  ..
Geographic Information Systems     1
Business Management                1
Fluid Dynamics                     1
Clinical Psychology                1
Abnormal Psychology                1
Name: count, Length: 129, dtype: int64

In [8]:
df.topic_difficulty.value_counts()

topic_difficulty
Medium    424
Easy      295
Hard      181
Name: count, dtype: int64

In [9]:
df_mc = df[df.question_type == "multiple-choice"]
df_mc.answer.value_counts()

answer
A    242
B    230
C    198
D    149
E     25
F      2
I      1
Name: count, dtype: int64

In [10]:
df.img_type.value_counts()

img_type
['Diagrams']                              223
['Tables']                                170
['Plots and Charts']                       78
['Photographs']                            75
['Paintings']                              46
                                         ...
['Diagrams', 'Mathematical Notations']      1
['Plots and Charts', 'Tables']              1
['Diagrams', 'Historical Timelines']        1
['Paintings', 'Poster']                     1
['Poster', 'Other']                         1
Name: count, Length: 64, dtype: int64

In [15]:
all_img_types = set()

for img_type in df.img_type:
    all_img_types.update(ast.literal_eval(img_type))

all_img_types

{'Advertisements',
 'Body Scans: MRI, CT scans, and X-rays',
 'Chemical Structures',
 'Comics and Cartoons',
 'DNA Sequences',
 'Diagrams',
 'Geometric Shapes',
 'Historical Timelines',
 'Icons and Symbols',
 'Landscapes',
 'Logos and Branding',
 'Maps',
 'Mathematical Notations',
 'Medical Images',
 'Microscopic Images',
 'Other',
 'Paintings',
 'Pathological Images',
 'Photographs',
 'Plots and Charts',
 'Portraits',
 'Poster',
 'Screenshots',
 'Sculpture',
 'Sheet Music',
 'Sketches and Drafts',
 'Tables',
 'Technical Blueprints',
 'Trees and Graphs'}

In [12]:
# print dist of count of options
import ast
df.options.apply(lambda x: len(ast.literal_eval(x))).value_counts()

options
4    606
3    111
5     91
0     53
2     28
6      5
9      4
7      2
Name: count, dtype: int64

In [13]:
df.options[0]

"['$6', '$7', '$8', '$9']"